<%- include ( './partials/head' ); %>

</head>

<body class="">   
<%- include ( './partials/header'); %>
<%- include ( './partials/contacto'); %>

<section class="contianer">
<article class="row">
    <a href="/altaCarta" class=" btn col-lg-3 col-md-12 text-center "> Agregar carta</a>
    <a href="/editCarta/:id" class="btn  col-lg-3 col-md-12 text-center "> Modificar carta</a>
    <a href="/eliminarCarta/:id" class="btn  col-lg-3 col-md-12 text-center "> Eliminar carta</a>

</article>
</section>

<%- include ( './partials/footer'); %>