<%- include ( './partials/head' ); %>
 <!--ESTILOS PROPIOS-->

<link rel="stylesheet" href="/css/estilos.css">
</head>

<body class="">     
<%- include ( './partials/header'); %>
<%- include ( './partials/contacto'); %>
<section class="contianer">
<article class="row">
    <a href="/altaCarta" class=" btn col-lg-3 col-md-12 text-center ">Agregar carta</a>
    <a href="/login" class="btn  col-lg-3 col-md-12 text-center "> Login</a>
    <a href="/" class="btn  col-lg-3 col-md-12 text-center ">Logout</a>

</article>
</section>

<%- include ( './partials/footer'); %>