<%- include ( './partials/head' ); %>
</head>
<body class="">
    <%- include ( './partials/header' ); %>
        <%- include ( './partials/contacto' ); %>


<h1>PÁGINA NO ENCONTRADA</h1>



        <%- include ( './partials/footer' ); %>