<%- include ( './partials/head' ); %>
 <!--ESTILOS PROPIOS-->

<link rel="stylesheet" href="/css/estilos.css">
</head>

<body class="">     
<%- include ( './partials/header'); %>
<%- include ( './partials/contacto'); %>


<h1>PÁGINA NO ENCONTRADA</h1>



        <%- include ( './partials/footer' ); %>